{{extend 'layout.html'}}

<h1>
    Welcome to Medboard!
</h1>

<h2 style='font-size: 20px'>
    Connnecting healthcare professionals who want to teach and students who want to learn!
</h2>

<h3 style='font-size: 14px'>
    Have a look at what is currently being taught at your local hospital:
</h3>

<div>
    <div style="float:left;margin-right:5%" class="well">
    <a href="https://nhshd15.pythonanywhere.com/medboard/default/display_operations/ALL">
    <img src="https://nhshd15.pythonanywhere.com/medboard/static/Theatres.png" alt="Theatres" />
    <h3 style="font-weight:bold">Theatres</h3>
    </a>

    </div>

    <div style="float:left;margin-right:5%" class="well">


    <a href="https://nhshd15.pythonanywhere.com/medboard/default/">
    <img src="https://nhshd15.pythonanywhere.com/medboard/static/Clinics.png" alt="rest" />
    <h3 style="font-weight:bold">Clinics</h3>
    </a>
    </div>
</div>

<div>
<div style="float:left;margin-right:5%" class="well">
<a href="https://nhshd15.pythonanywhere.com/medboard/default/">
<img src="https://nhshd15.pythonanywhere.com/medboard/static/Teaching_Sessions.png" alt="rest" />
<h3 style="font-weight:bold">Teaching Sessions</h3>
</a>
</div>

<div style="float:left;margin-right:5%" class="well">
<a href="https://nhshd15.pythonanywhere.com/medboard/default/">
<img src="https://nhshd15.pythonanywhere.com/medboard/static/Clinical_Skills.png" alt="rest" />
<h3 style="font-weight:bold">Clinical Skills</h3>
</a>
    </div>

</div>
